/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.label-white {
    background-color: white;
}

[id^=id-changeidname] {
    display: none;
}

.logo-env {
    text-align: center !important;
}

.logo-env .logo {
    float: none !important;
}

.claim-info {
    margin-bottom: 0;
}

.claim-info tr td, .claim-info tr th {
    border-bottom: 0 !important;
}

.claim-star {
    vertical-align: middle !important;
    width: 30px;
}

.search-claims {
    margin-top: 5px;
}

.search-group {
    width: 100%;
}

.search-group input {
    border: 0;
    margin: 0;
    padding: 0;
}

.search-group span {
    background-color: white;
    margin: 0;
    padding: 0;
}

.notes-table th {
    text-align: center;
}

.note-description {
    max-width: 400px;
}

.note-attachment {
    text-align: center;
}

.current-attachment {
    display: block;
    margin-top: 10px;
}

.current-attachment i {
    margin-left: 5px;
}

.current-attachment i.fa-times {
    color: #b8070d;
}

.current-attachment i.fa-times:hover {
    color: #98373d;
}

.current-attachment i.fa-download:hover {
    color: #36393E;
}

.statuses {
    margin-bottom: 30px;
}

.statuses ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    padding-left: 0;
    /*border-spacing: 10px;*/
    /*border-collapse: separate;*/
}

.statuses ul li {
    display: table-cell;
    width: auto;
    text-align: center;
    border-left: 5px solid #EEE;
    position: relative;
}

.statuses ul li:first-child {
    border-left: none;
}

.statuses ul li .xe-label, .statuses ul li .xe-widget, .statuses ul li .xe-counter {
    width: 100%;
    display: block;
}
.statuses ul li .num {
    font-size: 10pt !important;
}

.statuses .active {
    width: 100%;
    height: 5px;
    background-color: #C8C8C8;
    bottom: 0;
    position: absolute;
}

.status {
    width: 100%;
    float: left;
    color: white;
    font-size: 1em;
}

.status-step {
    background-color: white;
}

.status-step:hover {
    background-color: #F8F8F8;
}

.status-icon {
    padding: 15px 0 10px 0;
    font-size: 25px;
}

.status-icon a:active {
    text-decoration: none;
}

.status-icon-bubble {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: white;
    border-radius: 50px;
    box-shadow: inset 3px 3px rgba(33,33,33,0.2);
    text-shadow: 2px 2px rgba(33,33,33,0.2);
}

.status-label {
    padding-bottom: 15px;
    font-size: 12pt;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}

.status-step.not-available {
    background-color: #E5E5E5;
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.status-step.not-available .status-icon > .status-icon-bubble {
    background-color: #777 !important;
}

.status-step.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.statuses:first-child {
    margin-left: 0 !important;
}
                                
.created {
    background-color: #3288bd !important;
}

.verification {
    background-color: #66c2a5 !important;
}

.contact {
    background-color: #abdda4 !important;
}

.visit {
    background-color: #e6f598 !important;
}

.preliminary {
    background-color: #ffffbf !important;
}

.report {
    background-color: #fee08b !important;
}

.processing {
    background-color: #fdae61 !important;
}

.finished {
    background-color: #f46d43 !important;
}

.cancelled {
    background-color: #d53e4f !important;
}

#tab-timeline .note, #tab-timeline .document, #tab-timeline .add, #tab-timeline .delete, #tab-timeline .update {
    background-color: #45455A !important;
}

.activities-timeline {
    width: 80% !important;
}

.white-row {
    padding: 20px;
    background-color: white;
}

.gray-row {
    padding: 20px;
    background-color: #333;
    margin-bottom: 15px;
}

.gray-row h1 {
    margin: 0 15px;
    color: white;
}

.panel-processing {
    background-color: #FFBA00;
}

.panel-processing > .panel-heading, .panel-cancelling > .panel-heading {
    color: white;
    padding: 0;
    border: 0;
}

.panel-processing .modal-title, .panel-cancelling .modal-title {
    color: #333;
}

.panel-cancelling {
    background-color: #dd4b39;
}

#js-coinsurance {
    margin-top: 10px !important;
}

#js-coinsurance > div {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.list-group.list-status {
     height: 30px;
 }

.list-group.list-status .list-group-item {
    padding: 10px;
    margin-right: 5px;
}

.list-status-icon {
    width: 12%;
    float: left;
}

.btn-add-claim > span, .btn-tab > span {
    text-align: left;
}

.table-status {
    display: inline-block;
    /*border: 1px solid #CCC;*/
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 8pt;
    background-color: #333;
    color: white;
}

.table-status-icon {
    float: left;
    margin-right: 5px;
}

.dropdown-menu {
    z-index:5000 !important;
}

.document.validate-has-error > input, .document.validate-has-error > span {
    color: #cc3f44;
}

#counters {
    margin-bottom: 10px;
}

#list-claims-district {
    max-width: 400px;
}

.btn-zurich {
    background-color: #08407A;
    color: white !important;
}

.btn-zurich > i {
    background-color: #18508A !important;
    border-left-color: #28609A !important;
}

.btn-zurich:hover {
    background-color: #08407A;
}

.public-bar {
    width: 100%;
    height: 100px;
    background-color: #333;
}

.public-bar .logo {
    padding: 10px;
    display:inline-block;
}

.public-bar .logo img {
    margin: 0 auto;
}

.public-bar h1.title {
    display:inline-block;
    color:white;
    font-weight: lighter;
    padding-left: 25px;
    letter-spacing: 1px;
}

.public-content {
    height: auto;
    margin: 50px;
}

.list-logo {
    width: 100%;
    height: 120px;
    background-color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.list-logo img {
    padding-top: 20px;
}

#addressMap {
    width: 100%;
    height: 300px;
}

.timeline-claim {
    color: white !important;
}

.no-claim {
    text-align: center;
}

/* TODO this rule shoulnt be necessary since from non public view it works properly, review */

.public-content .status-icon .fa {
    margin-top:14px;
}

.public-content .status-step, .public-content .status-step a{
    cursor:initial;
}

.jvectormap-tip {
    z-index: 2000;
}